extends layouts/main-layout.pug

block content 
    if !profileUser
        span.errorMessage Check the Url you entered.
    else
        script.
            var profileUserId = '!{profileUser._id}'
            var selectedTab = '!{selectedTab}'

        - followersCount = profileUser.followers.length
        - followingCount = profileUser.following.length

        .profileHeaderContainer
            .coverPhotoSection
                .coverPhotoContainer
                    if profileUser.coverPhoto
                        img(src=profileUser.coverPhoto, alt='User cover photo')
                    if profileUser._id == userLoggedIn._id
                        button.coverPhotoButton(data-toggle='modal', data-target='#coverPhotoUploadModal')
                            i.fas.fa-camera

                .userImageContainer
                    img(src=profileUser.profilePic, alt='User profile image')
                    if profileUser._id == userLoggedIn._id
                        button.profilePictureButton(data-toggle='modal', data-target='#imageUploadModal')
                            i.fas.fa-camera


            .profileButtonsContainer
                if profileUser._id != userLoggedIn._id   
                    a.profileButton(href=`/messages/${profileUser._id}`)
                        i.fa.fa-envelope

                    - var profileUserId = profileUser._id.toString();
                    - if(userLoggedIn.following && userLoggedIn.following.includes(profileUserId))
                        +createFollowingButton(profileUser, true)
                    -else
                        +createFollowingButton(profileUser, false)

            .userDetailsContainer
                span.displayName #{profileUser.firstName} #{profileUser.lastName}
                span.userName @#{profileUser.userName} 
                span.description #{profileUser.description} 
                .followersContainer
                    a(href=`/profile/${profileUser.userName}/following`)
                        span.value #{followingCount}
                        span following
                    a(href=`/profile/${profileUser.userName}/followers`)
                        span#followersValue.value #{followersCount}
                        span followers
        
        .tabsContainer
            +createTab('Posts', `/profile/${profileUser.userName}`, selectedTab != "replies")
            +createTab('Replies', `/profile/${profileUser.userName}/replies`, selectedTab == "replies")

        .pinnedPostContainer
        .postsContainer

        +createPostModals(userLoggedIn)
        +createCoverPhotoUploadModal()
        +createImageUploadModal()

block scripts 
    script(src="/js/profile.js")